/* 시리즈별 이미지 컬러 */
#s_765876{background-color:#F34F6D;}
#s_765876 a{color: #FFFFFF !important;}
.t_765876{
font-weight: bold;
color: #F34F6D;
}

#s_cg{background-color:#2681C8;}
#s_cg a{color: #FFFFFF !important;}
.t_cg{
font-weight: bold;
color: #2681C8;
}

#s_million{background-color:#FFC30B;}
#s_million a{color: #FFFFFF !important;}
.t_million{
font-weight: bold;
color: #FFC30B;
}
.t_millionallstars{
font-weight: bold;
background: linear-gradient(45deg, #F34F6D, #FFC30B);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

#s_315{background-color: #0FBE94;}
#s_315 a{color: #FFFFFF !important;}
.t_315{
font-weight: bold;
color: #0FBE94;
}

#s_283{background-color:#8DBBFF;}
#s_283 a{color: #FFFFFF !important;}
.t_283{
font-weight: bold;
color: #8DBBFF;
}

#s_etc{background-color:#FFFFFF;}
#s_etc a{color: #000000 !important;}

.listdesc{list-style-type: none;}

.indexhead{text-align: center;}

.idollinks{
margin-top: -0.5em;
display: none;
}

.nonvoice{font-style: italic;}

.elected{text-decoration: underline;}

.withoutssrare{font-style: italic;}

.scriptlinks{cursor: pointer;}

.idolnames,.cgevent_lists,.cgelection_lists{font-size: 1em;}

/* 시리즈 캐릭터 속성 컬러 */

.cgcute,.mlvocal,.princess765,.physical315{color: #FF00FF;}

.cgcool,.mldance,.fairy765,.intelli315{color: #0000FF;}

.cgpassion,.mlvisual,.angel765,.mental315{color: #FFC000;}

.cgspecial,.mlspecial,.special315,.special283{color: #00CC00;}